{
    "printWidth": 110,
    "trailingComma": "es5",
    "endOfLine": "auto",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "overrides": [
      {
        "files": "*.test.jss",
        "options": {
          "semi": true
        }
      },
      {
        "files": ["*.html", "legacy/**/*.js"],
        "options": {
          "tabWidth": 4
        }
      }
    ]
  }
  